body{
    background-color:lightsalmon;
}
.banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/spotify-39cf4.appspot.com/o/cantante3.png?alt=media&token=c51e71a6-282f-4174-9081-3015aac203a4");
    background-position: top center;
    background-size: cover;
    padding: 5% 20% 35% 20%;
}